restaurants.dtd

<?xml version=“1.0” encoding=“UTF-8"?>
<!-- DTD for simple list of resturant data --!>

<!ELEMENT restaurant (id, name, cusine, city, open, close)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT cusine (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT open (#PCDATA)>
<!ELEMENT close (#PCDATA)>